
!.env.project
!.env.vault
!.env.vault.calva/*
**/**.env
**/*.env
**/*.env*
.calva/*
.clj-kondo
.cpcache/*
.env*
.env.me
.envrc
.envrc.local
.flaskenv*
.git
.joyride
.lein-env
.lsp/*
.nrepl-port
.temp
Dockerfile
Dockerfile**
config/dev/config.edn
docker-compose.yml
pom.xml
target/
.shadow-cljs
node_modules
resources/public/assets
